.UserPage
  .UserPage__contents
    .UserImage
      - if @user.image?
        = image_tag @user.image.url, class: "image-icon"
      - else
        = image_tag "/assets/default-avatar.jpg", class: "image-icon" 
    %h6.UserName
      .UserName__CurrentUser
        NAME:
        = @user.name
        .UserName__CurrentUser__Edit
          - if @user.id == current_user.id 
            = link_to icon('fa', 'cog'), edit_user_path,method: :get,class:"EditBtn"
      .UserProfile
        %h3自己紹介
        %span.UserProfile__UserBody
          = @user.UserBody