.form
  .form__text
    プロフィールの変更
  .form__area
    = form_for(current_user) do |f|
      .form__area__video
        %div#previews
          .ImgePreview
            .ImgePreview__icon
              = icon('fas', 'video')
              .ImgePreview__text
                プロフィール写真を選択
        = f.file_field :image, class:"user-image",accept: "image/png, image/jpeg"
        = f.text_field :name, class:"user-title", placeholder:'名前の変更'
        = f.text_area :UserBody, class:"user-body",placeholder:"プロフィールを入力してください"
        = f.submit "send", class:"send"
