.top
  .top__CatchCopy
    ６０秒先に
    %br 待っている元気
  .top__image
    = image_tag ("213894de86b878b69ca0f21fe05c2a89.jpg"), class: "top__image__picter"
  .top__content
    .top__content__box
      welcome to TECH:VIDEO
    .top__content__explanation
      .top__content__explanation__text
        我々は頑張る社会人の見方です
        .top__content__explanation__coment
        %br本サイトは笑って、感動できて、人に感謝を！をコンセプトに制作されました
        感動する事で新たな発見を、感謝される事で自己肯定感を高め、笑う事で気持ちが上向きに
        %br人生を豊にするヒントを、本サイトでお探しください
    .top__content__info
      .top__content__info__title
        INFOMATION
      .top__content__info__news
        = link_to "お知らせ", info_posts_path, class:"Btn"
      .top__content__info__contact
        = link_to "お問い合わせ", news_posts_path, class:"Btn"
      .top__content__info__register
        = link_to "新規登録", new_user_registration_path , class:"Btn"
      .top__content__info__terms
        = link_to "利用規約", terms_posts_path, class:"Btn"