.MemberRegister
  %h1.log
    TECH:VIDEO
  .MemberRegister__page
    .MemberRegister__page__title
      ログインをしよう
    .MemberRegister__page__form
      = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
        .FormField
          = f.email_field :email,placeholder: "アドレスを入力", class: "FormField__group"
        .FormField
          = f.password_field :password, autocomplete: "off",placeholder: "パスワードを入力", class: "FormField__group"
        .FormField
          = f.password_field :password_confirmation,autocomplete: "off",placeholder: "パスワードをもう一度入力", class: "FormField__group"
        .actions
          = f.submit "Sign up", class: "SubmitBtn"
    .MemberRegister__page__SignIn
      まだ登録していない方
      = link_to "登録する", new_user_registration_path
