.wrapper__VideoSide
  = form_with model: @post, url:  search_posts_path, method: :get, local: true do |form|
    = form.select :keyword, [ ['投稿が新しい順', 'new'],['投稿が古い順', 'old'],['いいねが多い順', 'likes'],['いいねが少ない順', 'dislikes'],]
    = form.submit

  %h1 投稿動画一覧
  - @posts.each do |post|
    .wrapper__VideoSide__contents
      = link_to post_path(post) do
        = video_tag post.video.to_s, :size => "200x250"
      .wrapper__VideoSide__contents__content
        .wrapper__VideoSide__contents__content.title
          = link_to "タイトル:#{post.title}", post_path(post),class:"LinkUser"
        .wrapper__VideoSide__contents__content.name
          = link_to "投稿者:#{post.user.name}", "/users/#{post.user_id}", class: "LinkUser"
        .wrapper__VideoSide__contents__content.created_at
          = "投稿日：#{post.created_at.strftime('%Y/%m/%d')}"
        .wrapper__VideoSide__contents__content.commnet
          = "コメント数:#{post.comments.count}"
        .wrapper__VideoSide__contents__content.like
          = "いいね:#{post.likes.count}"
        .wrapper__VideoSide__contents__content.list
          = "マイリスト:#{post.lists.count}"
        .wrapper__VideoSide__contents__content.views
          = "視聴回数#{post.impressionist_count}"
  .pages
    .pages__box
      = paginate @posts