.form
  .form__text
    動画をアップロード
  .form__area
    = form_with model: @post, local: true do |f|
      .form__area__video
        = f.text_field :title, class:"form__area__video__title", placeholder:'動画タイトル'
        = f.text_area :body, class:"form__area__video__body", placeholder:"動画説明文を記入してください"
        = f.file_field :video, class:"form__area__video__video", accept: 'audio/*,video/*'
        = f.submit "send", class:"form__area__video__send"
        .form__area__video__caution
          ※動画、音声ファイルのみ投稿できます
          %br 100Mまで投稿できます
          ※誹謗中傷、公序良俗に反する投稿はご遠慮ください