.form
  .form__text
    動画をアップロード
  .form__area
    = form_with model: @post, local: true  do |f|
      .form__area__video
        %div#previews
          .preview
            .preview__icon
              = icon('fas', 'video')
              .preview__text
                投稿するとサムネイルが表示されます
        = f.file_field :video, class:"VideoForm",id:'VideoForm', accept: 'audio/*,video/*'
        .error__message
          - if @post.errors.include?(:video)
            = @post.errors.full_messages_for(:video).first
        = f.text_field :title, class:"TitleForm", placeholder:'動画タイトル'
        .error__message
          - if @post.errors.include?(:title)
            = @post.errors.full_messages_for(:title).first
        = f.text_area :body, class:"BodyForm", placeholder:"動画説明文を記入してください"
        .error__message
          - if @post.errors.include?(:body)
            = @post.errors.full_messages_for(:body).first
        = f.submit "send", class:"send"
        .form__area__video__caution
          ※動画、音声ファイルのみ投稿できます
          %br 100Mまで投稿できます
          ※誹謗中傷、公序良俗に反する投稿はご遠慮ください